
.maini input{
	width: 200px;
	height: 35px;
	border: solid 1px #ADD8E6; 
	border-radius: 3px;
	box-shadow: 2px 1px 1px #888888;
	background-color: white;
}


h2{
	position: relative;
	left: 6%;
	font-size: 20px;
	color:#ADD8E6; 
}
.maini h1{
	position: relative;
	left: 0;
	float: center;
	font-size: 25px;
	color: #ADD8E6;
}
h6{
	margin-left:5px;
	color:  #ADD8E6;
}



.display{
	display: block;
	position: relative;
	top: 18%;
	left:3%;
	width: 75%;
	margin:20px;
	background-color:#F1FFFA; 
	border-radius: 2px;
	box-shadow: 2px 1px 1px #888888;
}
.display ul{
	margin:1px;

}
.display ul li{
	margin: 2px;
	padding: 5px;
	display: block-inline;
	color: 	#778899;
	font-size: 15px;
	font-family: Times;
}
.display ul li a{
	color: green;
}
.display ul li a:hover{
	text-decoration: none;
}

#success{
	position: relative;
	top: 10%;
	left: 0;
	width: 30%;
	margin-left: 0;
	background-color: white;
	font-size: 20px;
	color:#00FF00;
}

ul{
	list-style-type: none;
}
a{
	text-decoration: none;

}
a:hover{text-decoration: none;color:white;}
#error{
	position:relative;
	right: -110px;
	margin-top:11%; 
	left: 78%;
	color: red;
}
.maini section{
	position: absolute;
	margin-top: 4%;
	left: 85%;
}
.maini section ul li{
	color:#B0C4DE;
	font: Times 20px;
	padding: 5px;
}
.maini section h1{
	color:#B0C4DE;
	font: Times 20px;
	padding: 5px;
}
.maini section ul input{
	color:#C0C0C0;
	width: 200px;
	height: 35px;
	border: solid 1px #C0C0C0; 
	border-radius: 5px;
	box-shadow: 2px 1px 1px #C0C0C0;
	background-color: white;
}
.display main{
	border: solid 1px #C0C0C0;
	width: 70%;
	margin-left:10%;
	position: absolute;
	margin-top: 5%;
	margin-left: 18%; 
}
.display main ul li{
	padding: 5px;
	
}
#resource {
	margin: 4px;
}
#resource:hover{
	background-color:lightgreen; 
}
#search {
	margin: 4px;
	width: 50%;
}
#search:hover{
	background-color:lightgreen; 
}
.message{}
.message pre{
	color:white;
	font-size:30px;
	font-family: Times;
	margin-left: 20px;
	background-color: green;
}

